# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env*
venv/
.pytest_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend build output
frontend/dist/

# Editor files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db
node_modules
